@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
}
body {
    font-family: 'Jura';
    font-style: normal;
    color: #478CCF;
    text-align: center;
}

.sending-title {
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    padding-top: 50px;
}
.sending-btns {
    display: none;
    text-align: center; 
    margin-top:100px;
}
.sending-btn {
padding: 10px 30px;
width: 200px;
height: 36px;
left: 258px;
top: 110.5px;
background: #4535C1;
border-radius: 24px;
border: none;
color: aliceblue;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
transition: all 0.3s;
cursor: pointer;
}
.sending-btn:hover {
    transform: scale(1, 1.2);
    background-color: #36C2CE;
}
input {
    width: 350px;
    height: 40px;
    border-radius: 21px;
    padding-left: 15px;
    margin-top: 15px;
    font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
border: 1px solid #4535C1;
}
legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.person-info, 
.natural-person-departure,
.natural-person-delivery,
.natural-person-parcel-details,
.natural-person-type-delivery {
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    width: 40%;
    border: 2px solid #36C2CE;
border-radius: 15px;
}
#checkbox {
    width: 15px;
    height: 15px;
}
.departure-adress-checkbox, 
.departure-branch-checkbox, 
.person-delyvery-checkbox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}
.input-type-radio {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 33%;
}
input[type="radio"] {
    margin: 0;
    max-width: 20px;
}