@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a {
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 60px;
    width: 20%;
    height: 20%;
}

.header-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-search>form {
    display: flex;
    align-items: center;
}

.header-nav-search>form>input {
    width: 357px;
    height: 52px;
    padding-left: 16px;
    border: 0.5px solid #D8D8D8;
    box-shadow: -8px 6px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #696969;
}

.header-nav-search>form>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 0;
    left: -45px;
    cursor: pointer;
}

.header-social-icon {
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;
}

.header-social-icon>a>svg>rect:hover,
.header-person-account>svg>rect:hover,
.header-burger-menu>svg>rect:hover {
    fill: #36C2CE;
    transition: all 0.3s;
}

.header-person-account {
    cursor: pointer;
}

.header-burger-menu {
    cursor: pointer;
    transition: all 0.3s;
}

.header-menu {
    display: none;
    position: absolute;
    top: 13%;
    right: 6%;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    border: 1px solid #478CCF;
    border-radius: 10px;
    padding: 13px;
    box-shadow: -8px 6px 18px 1px rgba(0, 0, 0, 0.2);
}

.header-menu-list>a>li {
    list-style-type: none;
    color: #696969;
    padding: 5px 0;
}

.header-menu-list>a>li:hover {
    color: #478CCF;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img>img {
    position: relative;
    top: 5%;
    width: 130%;
}

.hero-content {
    z-index: 1;
    /* position: absolute; */
    width: 618px;
    height: 473px;
    border-color: aquamarine;
}

.hero-title>span {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 83px;
    color: #36C2CE;
}

.hero-title {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 83px;
    color: #478CCF;
}

.hero-block-form {
    position: relative;
    left: -10%;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.block-form {
    width: 200px;
    height: 104px;
    background: #478CCF;
    border-radius: 20px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.block-form:hover {
    transform: scale(1, 1.1);
    background-color: #36C2CE;
}

.hero-track-down {
    margin-top: 20px;
}

.hero-track-down>form>input {
    width: 610px;
    height: 64px;
    position: relative;
    left: -9%;
    border: 0.5px solid #D8D8D8;
    box-shadow: -8px 6px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding-left: 30px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #696969;
}

.hero-track-down>form>button {
    position: relative;
    z-index: 10;
    top: -58px;
    right: -53%;
    padding: 12px 46px;
    width: 218px;
    height: 51.43px;
    background: #4535C1;
    border: none;
    border-radius: 40px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-track-down>form>button:hover {
    background: #687EFF;
}

#about {
    padding: 0 54px;
}

.about-title,
.newsandtips-title,
.mailinglist-title {
    padding-left: 60px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    color: #478CCF;
}

.about-content {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-text {
    max-width: 50%;
    display: flex;
    flex-direction: column;

}

.about-text-title {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #424242;
}

.about-text-text {
    padding-top: 52px;
    padding-left: 95px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #696969;
}

.about-text-btn {
    align-self: flex-end;
    margin-top: 56px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 204px;
    height: 48px;
    background: #4535C1;
    border-radius: 40px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

.about-text-btn:hover,
.tariffs-btn:hover,
.services-btn:hover {
    background: #687EFF;
}

.about-blocks {
    max-width: 558px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.about-blocks-blok {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    width: 260px;
    height: 212px;
    background: rgba(54, 194, 206, 0.6);
    border-radius: 20px;
}

.block-img {
    width: 80px;
    height: 80px;
}

.block-text {
    margin-top: 20px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #424242;
}

#about-servicesandtariffs {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}

.services,
.tariffs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 30px;
    gap: 30px;
    width: 620px;
    height: 572px;
    background: #FFFFFF;
    border: 0.5px solid #D8D8D8;
    box-shadow: -8px 6px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.services-title,
.tariffs-title {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #424242;
}

.tariffs-text,
.services-text,
.block-card-text {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #696969;
}

.tariffs-btn,
.services-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 204px;
    height: 48px;
    background: #4535C1;
    border-radius: 40px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

#newsandtips {
    max-width: 1318px;
    margin: 0 auto;
}

.newsandtips-title {
    margin-top: 70px;

}

.newsandtips-block {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.newsandtips-block-card {
    background: rgba(54, 194, 206, 0.6);
    border-radius: 20px;
    width: 426px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-card-title {
    padding: 0 18px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #424242;
}

.block-card-text {
    padding: 0 18px;
}

.block-card-btn {
    margin: 18px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 42px;
    width: 160px;
    height: 48px;
    border: 2px solid #4535C1;
    border-radius: 40px;
    transition: all 0.3s;
}

.block-card-btn:hover {
    background-color: #4535C1;
    color: #FFFFFF;
}

.newsandtips-btn {
    margin: 56px auto 0;
}

#mailinglist {
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.mailinglist-title {
    padding-left: 0;
}

.mailinglist-block-content {
    margin-top: 56px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 36px 20px;
    gap: 16px;
    width: 1004px;
    height: 532px;
    background: #FFFFFF;
    border: 0.5px solid #D8D8D8;
    box-shadow: -8px 6px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.block-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.content-text-title {
font-family: 'Jura';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;
display: flex;
align-items: center;
text-align: center;
color: #424242;
padding: 0 14px;
}
.content-text-text {
font-family: 'Jura';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
color: #696969;
}
.block-content-text>form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-text-input {
width: 440px;
height: 50px;
background: #FFFFFF;
border: 1px solid #D8D8D8;
border-radius: 40px;
font-family: 'Jura';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.05em;
color: #696969;
padding-left: 25px;
}